<!--格線系統-->
        <div class="row mt-3 pt-10" id="swContent">
            <div class="col-md-12 text-center ">
                <img src="templates/images/LOGONEW.png"
                     class="img-fluid" style="width:50%">
            </div>
        </div>
	<div class="row""row my-3 " id="knmid">
            <div class="col-md-12 pb-3 ">
                <h2>
				{if $op==goods_list}景點搜尋結果
				{elseif $op==list}
				{elseif $op==listt}
				{elseif $op==te}熱門景點
				{elseif $op==collects_list}收藏景點
				{else}熱門景點
				{/if}
				</h2>
            </div>
	{foreach from=$all_goods item=goods}
    <div class="col-12 col-md-4 ">
        <div class="img-thumbnail">
            <a href="index.php?goods_sn={$goods.goods_sn}">
			 <img src="{$goods.pic}" alt="{$goods.goods_title}" style="width:100%" />
			</a>
            <h4><strong>
				<a href="index.php?goods_sn={$goods.goods_sn}">{$goods.goods_title}</a>
			</strong></h4>
			{if $op!=collects_list}
			<div class="row">
				<div class="col-md-6 ">人氣：{$goods.goods_counter}</div>
			</div>
			{/if}
		</div>
	</div>
	{/foreach}
	</div>