<section>	
      <div class="container pt-10 ">
	    <h1>古蹟巡禮</h1>
		<hr>
		<div class="row" >
          <div class="col-md-9 ">
            <h5>台北車站[啟程]<small>預計到達時間（am 10:00）</small></h5>
            <p class="lead">簡介:台北車站是很多人到台北的第一站，不管您是坐火車來，坐客運來，或是搭捷運您大都會來到這裡轉乘其他交通工具，這裡堪稱是全台灣交通最便利的地方。這裡是鐡路，客運，捷運，市公車等匯集的地方，繁忙的交通帶來大量的人潮和車潮，台北車站大樓除了有各類車站的匯集外，尚提供大型會議中心，大型停車場還有購物中心，藝文中心，餐廳，遊客諮詢服務以及地下商店街等以便遊客各樣的需要。</p>
			<p >搭乘捷運綠線台北車站->到北門站(車程約五分鐘)</p>
		  </div>
          <div class="col-md-3 pt-4 ">
            <img src="templates/stroke/01.jpg" class="img-responsive" width="300" height="200">
          </div>
        </div>	
		<hr>
        <div class="row">
          <div class="col-md-9 ">
            <h5>北門(承恩門)<small>預計到達時間（am 10:20）</small></h5>
            <p class="lead">北門又稱承恩門，面向北方有「承接天恩」之意，是台北僅存的閩南式建築原貌城門，它的區位重要性，在現代是老台北城區「西區」的樞紐地標，在清代而言，更是「城內」通往「大稻埕」的核心門戶。是以，西區門戶計畫以北門為核心並聯結周邊日治「鐵道部」、「台北郵局」、「大阪商社」、「三井倉庫」以及清代「撫臺街洋樓」、「機器局」......古蹟群，形成「面狀」的歷史景點脈絡，並營造臺北車站前行旅廣場為國家門戶意象，串連臺北車站至北門間軸帶。</p>
			<p>[下一站]走過馬路就可以看到台北郵局</p>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Pa01">建築歷史</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Pa02">建築特色</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Pa03">實際景觀</button>
		 </div>
          <div class="col-md-3 pt-5">
            <img src="templates/stroke/02.jpg" class="img-responsive"  width="300" height="200">
          </div>
        </div>
		<div class="modal fade" id="Pa01" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築歷史</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/01-01.jpg"  style="max-width:100%; height:auto;" class="img-responsive center-block" >
			<hr>
			<p class="text-left">光緒五年己卯（西元 八七九年）三月，淡水與新竹分治以後，知母陳星聚才正式開府臺 北。並鼓勵紳商在預定的城內，投資與建民房，形成肆街，又在福建巡府岑毓英的督促下積極建造臺北城。臺北城的建造，大約籌畫於光緒七年辛巳（西元一八八一年），由知府陳星聚召集三縣紳商勸捐，並於光緒八年壬午（西元一八八二年）一月興工，光緒十年甲申（西元一八八四年）十一月竣工，建設經費計達四十二萬餘圓。城工的規模，於岑毓英時原定為周徑一千八百餘丈，然而岑毓英在光緒八年壬午五月十日便受命內渡署理雲貴總督，因此城工大任便由有築城經驗又諳堪輿的劉璈繼續督辦。劉璈到任後，更改為周徑一千五百零六丈，城壁中央用土砂填實，外側用石材堆砌，計東西壁各長四百一十二丈，南壁三百四十二丈，北壁三百四十丈。原有五個城門：東門（照正門或景福門）、西門（寶成門）、南門（麗正門）、小南門（重熙門）、北門（承恩門）。</p>
           </div>
          </div>
        </div>
      </div>
		  <div class="modal fade" id="Pa02" tabindex="-1">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="modal-header">
				  <h3 class="modal-title">建築特色</h3>
				  <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				</div>
				<div class="modal-body">
				<img src="templates/stroke/01-02.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
				<hr>
				<p class="text-left">
					A.屋頂
					「單簷歇山式」的屋頂，同時富於曲線變化，是典型的華南式造型。清柔飄逸之感，與下方的城座、城牆形成鮮明的對比，同時也容易使人留下深刻的印象。
					B.窗口
					主要為偵察、防禦之用，所以開的並不大。對內、對外兩側各有三個口，中央為圓形；兩側為矩型。原來是有窗板可以開關的。
					C.外牆
					以磚砌成，外敷以灰泥，不但可防禦槍砲，亦可防火。牆身向上直達屋，極為密實堅固。仔細觀察剖面圖，可以發現外牆之內還有一道內牆，中間以廊道（F）相隔。
					D.城座
					以精良的砌工將石塊交錯築成，極為牢固，承載著整個結構體。
					E.門洞
					出入城門的唯一通道，中間裝有兩扇木門，但因時代久遠，均已腐朽。木門外表蒙上鐵皮，並以卯釘固定，可以抵擋敵人以木柱撞擊
					F.廊道
					位於內牆、外牆之間，供巡邏觀察之用的「回」字形通道。
					G千斤閘道
					石造的溝槽，正位於木門內部上方。在緊急時可安裝千斤閘來頂住木門，以便抵擋敵人的衝擊。
					H.內室
					內用12根樑柱撐起，之外則有兩道城牆防護，十分穩固，是指揮作戰及巡閱的地方。
				</p>
				</div>
			  </div>
			</div>
		  </div>
	   <div class="modal fade" id="Pa03" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">實際景觀</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/01-03-02.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/01-03-03.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/01-03-01.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/01-03-04.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<hr>
			</div>
          </div>
        </div>
      </div>
		<hr>
		<div class="row">
          <div class="col-md-9  aniass">
            <h5>台北郵局<small>預計到達時間（am 11:00）</small></h5>
            <p class="lead ">台北郵局完成於1929年，是台灣近代建築發展過程中，在形式與結構皆有所突破的作品。設計者是栗山俊一，一位有創意的年輕建築家。他在這座三層樓的巨大建築上，使用了經過簡化後的古典語彙，就像當時的一般公共建築，正面入口處設置拱廊玄關，因為基地面臨廣大的北門圓環，正面的寬度被延展得與兩翼差不多。形式方面的處理較具特色的是正面牆外立四對哥林柱，女牆平直，只露出一小段的山頭，整個形式雖不脫古典的色彩，但已具備現代建築物的簡潔精神。在構造方面，採用Ｈ型鋼骨樑柱及Ｒ.Ｃ. 樓板，大廳留出二層樓之高度，精細的天花板及柱頭，予人華貴莊重的印象。台灣光復後，因不敷使用，屋頂上被加上一層，而且入口玄關被猜拆除，換貼粗俗的大理石，殊為可惜。</p>
            <p>[下一站]搭乘捷運綠線北門站->到西門站一號出口(車程約五分鐘)</p>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#U01">建築歷史</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#U02">建築特色</button>
		  </div>
          <div class="col-md-3 pt-10 aniass">
            <img src="templates/stroke/03.jpg" class="img-responsive" width="300" height="200">
          </div>
        </div>
		<div class="modal fade" id="U01" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title aniass2">建築歷史</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/02-01.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left">台灣早在二十世紀初就有一座木造的郵局，後來改建為鋼筋水泥的大樓後，台北郵局也遵此復古的樣式，採用古典的色彩，像牆壁出現的古典柱子，室內大廳的天花板上都充滿了線腳，原來在入口處的半圓拱廊，也在光復後被拆除。而這座台灣當時最大的郵局採用鋼骨構造，外牆以貼面磚和洗石子的技巧，展現出大時代下的特色，而天花板和柱頭則給人華貴莊重的印象。台北郵局是少數保有日據時期室內裝修特色的建築物，由於屬於機關類的古蹟，目前仍做為官方辦公之用，為了確保安全，台北郵局在走道各處多設置監視器。台北郵局的電源開關、擴音設備、通風口等配件也保存下來。說到台灣郵政業務歷史淵源，就不得不提劉銘傳，當時台灣巡府劉銘傳大力提創郵政、電信新政，並在大稻埕的建昌街一帶設立郵政郵局。由於早期私人信件均交由「批館」代遞（批為台語，意同信字）。劉銘傳除了全省設有郵務據點外還增設郵票發行。在日據時代，原本僅服務日本人的軍郵局， 一直到1896年才開放給台灣人使用，此後台灣的郵政制度也逐漸發展起來，在日據時代有鑑於郵政業務與當時的鐵路運輸有密不可分的關係，所以建立了「台北郵便局」負責全台的郵務工作。直到日本戰敗國府遷台後，因郵務工作日漸擴大，在郵政總局遷往別處後才改為「台灣北區郵政管理局」。 </p>
			</div>
          </div>
        </div>
      </div>
	  <div class="modal fade" id="U02" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築特色</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/02-02-01.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/02-02-02.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/02-02-03.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/02-02-04.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<hr>
			<p class="text-left">台北郵局完成於1929年，是台灣近代建築發展過程中，在形式與結構皆有所突破的作品。設計者是栗山俊一，一位有創意的年輕建築家。他在這座三層樓的巨大建築上，使用了經過簡化後的古典語彙，就像當時的一般公共建築，正面入口處設置拱廊玄關，因為基地面臨廣大的北門圓環，正面的寬度被延展得與兩翼差不多。形式方面的處理較具特色的是正面牆外立四對哥林柱，女牆平直，只露出一小段的山頭，整個形式雖不脫古典的色彩，但已具備現代建築物的簡潔精神。在構造方面，採用Ｈ型鋼骨樑柱及Ｒ.Ｃ. 樓板，大廳留出二層樓之高度，精細的天花板及柱頭，予人華貴莊重的印象。台灣光復後，因不敷使用，屋頂上被加上一層，而且入口玄關被拆除，換貼粗俗的大理石，殊為可惜。</p></div>
          </div>
        </div>
      </div>
		<hr>
        <div class="row">
          <div class="col-md-9  aniass">
            <h5>西門紅樓<small>預計到達時間（am 11:30）</small></h5>
            <p class="lead">自2007年11月起與臺北市政府文化局合作營運，並正式更名為「西門紅樓」，藉由舉辦文創性的活動內容重新塑造：包含有八角樓內的二樓劇場、中央展區、百寶格、町西茶喫、西門紅樓精品區和十字樓的16工房、藝文展覽平台、河岸留言西門紅樓展演館和北廣場的創意市集、月光電影院以及南廣場的露天咖啡區等多元性區塊，聯手帶動整體對民眾服務的能量，打造新穎的創意空間，轉型成為台北市西區的文化創意展業發展中心。自台北市文化基金會接手以來，舉辦的三大活動吸引了近250萬參觀人次，讓西門紅樓成為旅客往來西門町必訪之指標性地點。</p>
			<p>[下一站]搭乘捷運藍線西門站->到龍山寺一號出口(車程約五分鐘)</p>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Xc01">建築歷史</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Xc02">建築特色</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Xc03">紅樓構造</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Xc04">現今風華</button>
		  </div>
          <div class="col-md-3 pt-5 aniass">
            <img src="templates/stroke/04.jpg" class="img-responsive" width="300" height="200">
          </div>
        </div>
		<div class="modal fade" id="Xc01" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築歷史</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/03-01.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left">西門紅樓於1908年興建完成，在當時成為台北城內的娛樂鑽石地，同時也讓日本人認為是亞洲娛樂樣版的重鎮，之後原名為紅樓劇場的西門紅樓成了外省移民心靈的慰藉，輝煌的演藝盛世，西方思想文化在台灣風行，紅樓的電影開演受到當時年輕學子的歡迎，也成了當時年輕學子共同的記憶，直到80年代在紅樓週邊殘存的舊店舖以及破落頹圯的違章建築，卻隨著漸往東移的都市發展而沒落；1994年曾舉辦「紅樓夢．西門情」展演活動，但在1997年公告為三級古蹟後熄燈歇業，紅樓劇院正式走入歷史。熄燈後的紅樓卻沒有因為這樣而消失在台北人心中中，在此之後又歷經2000年的十字樓大火、2001年西門市場改建計劃，接著2002年紅樓劇場重新開幕並由紙風車文教基金會匯集展演團體合眾之力，尋回紅樓市集的熱鬧與歡樂。</p>
			</div>
        </div>
      </div>
	  </div>
	  <div class="modal fade" id="Xc02" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築特色</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/03-02.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left">位於西門町成都路的西門紅樓，興建完成迄今已逾百年，原是台灣第一座官方興建的公營市場，現在全台灣所保存最古老完整的三級古蹟市場建築物，西門紅樓是一座以紅磚所打造成的八角牆樓，屋頂則以鋼管行成的雨傘骨架支撐著，這與眾不同的設計藍圖為日本建築師近藤十郎所構想設計，其年輕大膽的創意以「八卦造型」作為市場入口、「十字架造型」作為其特色主體。目前眾人所知的八角樓及十字樓，加上兩旁的南北廣場統稱為「西門紅樓」。</p>
			</div>
        </div>
      </div>
	  </div>
	  <div class="modal fade" id="Xc03" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">紅樓構造</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/03-03-01.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left"><p>內部空間規劃了品茶休憩的「紅樓茶坊」、搜羅台灣風格好物的「紅樓選品」、推動小型文創產業發展的基地與展售空間「16工房」及古樸別緻的專業表演場地「二樓劇場」。另有多元文化體驗活動，除固定館所導覽、創意講談、手作工作坊之外，每個週末還有手作創意市集、劇場演出及於中央展區不定期展覽等活動。西門紅樓歷經市場、書場、電影院、劇場的角色變換，自2007年起，臺北市政府文化局委由台北市文化基金會營運管理，以文創平台推廣形式，欲達成振興西門町街區發展目標，歷經10餘年經營，已逐步累積文創能量，形塑成現今臺北市甚至是台灣指標性的文創及藝文據點。</p>
			</div>
        </div>
      </div>
	  </div>
	  <div class="modal fade" id="Xc04" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">現今風華</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/03-03.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/03-03-02.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/03-03-03.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/03-03-04.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<hr>
			</div>
        </div>
      </div>
	  </div>
		<hr>
        <div class="row">
          <div class="col-md-9 aniass">
            <h5>龍山寺<small>預計到達時間（pm 01:00）</small></h5>
            <p class="lead">艋舺（今萬華）是臺北市開發最早的地方，而臺北第一名剎─龍山寺，就是當地居民信仰、活動、集會和指揮的中心。據說以前有一個人把佩帶的觀音菩薩香火，遺掛在一棵大榕樹上，到了夜晚竟然發出光芒。更奇怪的是有求必應，非常靈驗。所以信徒就在那個地方建立龍山寺，從西元1738年（清乾隆3年）開始，到1740年落成。二百多年來，龍山寺經過多次的修建，整個結構是完整「回」字形，在傳統的寺廟建築中，是一種非常尊貴的佈局。在廣場上，可注意地板石材，其中切割較不整齊的部分，已有古老的歷史。</p>
			<p>[下一站]龍山寺-->剝皮寮(走路程約十分鐘)</p>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Lo01">建築歷史</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Lo02">建築特色</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Lo03">寺廟規格</button>
		  </div>
          <div class="col-md-3 pt-5 aniass">
            <img src="templates/stroke/05.jpg" class="img-responsive" width="300" height="200">
          </div>
        </div>
		<div class="modal fade" id="Lo01" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築歷史</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/04-01.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left">早年臺灣北部為一蠻煙瘴癘之地，俗諺「三在六亡一回頭」，環境十分險惡，漢人前來墾植時為求神佑，多攜帶家鄉廟宇香火以為庇護，後因漢人聚落漸增，三邑人士遂於清乾隆三年（西元1738年）合資興建龍山寺，並迎請福建省晉江縣安海龍山寺觀世音菩薩分靈來臺。龍山寺不僅是居民信仰中心，舉凡議事、訴訟等均祈求神靈公斷。光緒十年（西元1884年）中法戰爭中，法軍侵占基隆獅球嶺，當地居民乃組織義軍，以龍山寺印行文官署，協助擊退法軍，獲光緒皇帝賜「慈暉遠蔭」匾額。初創之龍山寺，規模雄偉，雕塑精緻，歷經嘉慶二十年（西元1815年）大地震重修，同治六年（西元1867年）暴風雨侵襲再行修築，至民國八年棟樑遭白蟻蛀蝕，當時住持福智大師率先捐出一生積蓄七千餘元，集資修復，奠定今日龍山寺之規模。民國卅四年於第二次世界大戰期間受空襲摧殘，中殿全毀，惟觀世音菩薩聖像仍端坐蓮臺，寶相莊嚴；以往遇有空襲，居民皆以觀世音菩薩蓮座下為避難所，然此次空襲前夕，避難居民因不堪兇蚊肆虐紛紛返家，以致中殿受毀時無人受難，居民相信是觀世音菩薩庇護而奔相走告，此一神蹟更使得觀世音菩薩成為艋舺居民一大精神支柱。</p>
			</div>
        </div>
      </div>
	  </div>
	  <div class="modal fade" id="Lo02" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築特色</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/04-02.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left">艋舺龍山寺總面積約為1800坪，坐北朝南是中國古典之三進四合院傳統宮殿式建築，自中軸由外而內是山門、廟埕、前殿、中庭、大殿後庭、後殿，左右護龍、上有鐘鼓樓，門壁樑柱極盡精雕細琢之美，結合清代、日據與光復後綜合表現的寺廟藝術；艋舺龍山寺廟埕左右兩邊設有淨心瀑布和噴泉水池，前殿的八角藻井和鑄銅龍柱是特色所在，大殿也有金柱圓形螺旋狀藻井，都是代表台灣傳統寺廟特色和格局，民眾來到艋舺龍山寺可多留意建築景觀和代表意涵。</p>
			</div>
        </div>
      </div>
	  </div>
	  <div class="modal fade" id="Lo03" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">寺廟規格</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/04-03.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/04-03-01.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<hr>
			<p class="text-left">龍山寺坐北朝南，面呈回字形，為中國古典三進四合院之宮殿式建築，由前殿、正殿、後殿及左右護龍構成。前殿為11開間，分為三川殿、龍門廳、虎門廳。三川殿前有一對全臺僅見之銅鑄蟠龍柱，正面牆堵則由花崗石與青斗石混合組構而成，牆上故事多出自三國演義和封神榜，富於教育意義。正殿屋頂採歇山重簷式，四面走馬廊共42根柱子構成，殿外牆堵留有多幅著名書法家石刻，殿內的螺旋藻井不費一釘一鐵，全由斗栱相嵌築構而成。後殿屋頂採歇山重簷式，為典型儒、道教諸神佛供奉處。左右護龍各配有鐘樓與鼓樓，晨鐘暮鼓，其轎頂式扁六角形的屋頂，造形獨特。全寺屋頂脊帶和飛簷由龍鳳、麒麟等吉祥物造形，飾以剪黏和交趾陶，色彩瑰麗，堪稱臺灣剪黏藝術之精華。</p></div>
        </div>
      </div>
	  </div>
		<hr>
		<div class="row">
          <div class="col-md-9 aniass">
            <h5>剝皮寮<small>預計到達時間（pm 01:30）</small></h5>
            <p class="lead">穿梭在臺北市萬華區的老舊巷弄中，有一處名為「剝皮寮」的老街區，這裡依然延續著百餘年前清代街道的風貌，紅色的磚牆、拱型的騎樓、雕花的窗櫺，呈現典雅樸實之美。剝皮寮歷史街區位於龍山寺旁，康定路、廣州街及昆明街口，街區內保存有相當完整的清代街型、清代傳統店屋，其建築空間見證了艋舺市街的發展，擁有獨特之歷史文化和建築特色。「臺北市鄉土教育中心」以融入式教育與文化之理念，使其作為推展鄉土教育之園地，將學校教育和社區文化相結合，規劃不同主題展覽，及剝皮寮相關歷史特展，並辦理各項教育活動，以達寓教於樂的功能。</p>
			<p>[下一站]剝皮寮-->龍山寺站(走路程約十分鐘)再搭捷運到西門站-->北門站3號出口延塔城街直走到迪化街</p>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Po01">建築歷史</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Po02">建築特色</button>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Po03">現今風華</button>
		  </div>
          <div class="col-md-3 pt-5 aniass">
            <img src="templates/stroke/06.jpg" class="img-responsive" width="300" height="200">
          </div>
        </div>
		<div class="modal fade" id="Po01" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築歷史</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/05-01.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left">乾隆28年（1763年）「北皮藔街」的名稱即將出現於艋舺地契中，推估剝皮寮聚落成形於清代早期，至今已有兩百多年，清治時期的剝皮寮，名稱不管是「北皮藔街」、「福皮藔街」或「福地藔街」，已有店屋的型態，且皆已街名稱之，表示具相當發展之聚落形成。明治28年（1895年），剝皮寮地名由「福地藔街」改為「北皮藔一丁目、二丁目、三丁目」。大正11年(1922年)進行町名改正，廢街庄為町，北皮藔街改為「八甲町」和「新富町」。「市區改正」而開闢的廣州街、昆明街與康定路，將舊有剝皮寮街（今康定路173巷）從清治時期的重要街道，一變為隱身聚落中的巷弄。舊有剝皮寮街（今之康定路173巷）與廣州街間有一塊空地，乃二戰期間日本政府徵收作消防水池的遺址。現在鄰近的康定路和廣州街交會口一帶的路段，則因早期發展為煤炭販售集散地而通稱「土炭市」，當時曾是商業交易熱絡的街道，擁有不少精緻的洋房，至今仍保有初期開發的空間特色與都市紋理。</p>
			</div>
			</div>
		 </div>
		 </div>
		  <div class="modal fade" id="Po02" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築特色</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/05-03-01.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<img src="templates/stroke/05-03-02.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left">剝皮寮老街約三公尺寬，略呈曲折，兩邊均蓋起店屋，留下清代漢人街道風貌，此乃有別於日治時代以後開闢的筆直寬闊的道路。在狹小蜿蜒的剝皮寮老街行走時，仍可感受到昔日親切的街道尺度。位於廣州街與康定路173巷交會處的消防水池廣場，為日治時代因開闢廣州街而形成的梯形小廣場，成為新舊都市紋理交會之特殊空間。由消防水池廣場位置向西望去，可同時看到二個不同時期的建築風格：北側為具有火庫起簷柱及亭仔腳的老街傳統店屋，南側則為具有拱圈騎樓的牌樓厝；向東則可看見一樓拱圈騎樓及二樓傳統綠釉花磚欄杆，兩邊形成有趣的空間對話，也為都市增加新的開放空間。</p>
			</div>
			</div>
		 </div>
		 </div>
		 <div class="modal fade" id="Po03" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">現今風華</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/05-02.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<img src="templates/stroke/05-02-01.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left">「剝皮寮」由字面上解釋，與剝樹皮、剝獸皮有關，但若以發音來研究，在清朝嘉慶4年(西元1799年)當時稱為「福皮寮」，而道光18年(西元1838年)至清朝末年改為「福地寮」，到了日據時代因發音關係，被改稱為「北皮寮」，最後音近似閩南語發音的「剝皮寮」而得名。位於台北萬華老舊巷弄中的台北市鄉土教育中心，是利用「剝皮寮」的舊址，以融入式的教育文化理念，作為推廣鄉土教育之園地，並將學校教育及社區文化互相結合，不定期規劃各式主題特展，再配合上剝皮寮歷史街區，發揮「歷史老街紮根教育園地，教育活動活化歷史老街」的想法，辦理各項寓教於樂的教育活動。</p>
			</div>
			</div>
		 </div>
		 </div>
		<hr> 	  
	    <div class="row">
          <div class="col-md-9 aniass ">
            <h5>迪化街<small>預計到達時間（pm 02:20）</small></h5>
            <p class="lead">人們口中的迪化街，就是指台北大橋以南方向的迪化街一段，昔日的迪化街是指大稻埕的中心地，以前海運來的貨品都要經過大稻埕碼頭，再從迪化街運到其他地點，所以迪化街曾經是繁華的貨品集散地，也是北部的商品交易中心，在政府的規劃下，迪化街已成為年貨大街，過年時總是湧入大量的人潮購買年貨，光是在此試吃就快要吃到飽了。其中含有茶瓷，絲綢，中藥的販賣店面，聽起來相當有傳統的風味。但其實迪化街除了紅磁磚，紅燈籠的擺設之外，還有一座巴洛克式的大樓，永樂市場裡有許多布商在經營，還有專門為顧客縫製衣物與窗簾的店家，市場前也有許多美食小吃攤販。</p>
						<p>[下一站]迪化街內</p>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#De01">建築歷史</button>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#De02">建築特色</button>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#De03">現今風華</button>
						<button type="button" class="btn btn-default" data-toggle="modal" data-target="#De04">春節期間</button>
			</div>
          <div class="col-md-3 pt-5 aniass">
            <img src="templates/stroke/07.jpg" class="img-responsive" width="300" height="200">
          </div>
        </div>
		<div class="modal fade" id="De01" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築歷史</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body aniass">
			<img src="templates/stroke/07-01.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left">18世紀中期，大量泉州移民，與一些漳州人，定居臺北艋舺，並與當地平埔族通婚後人口大增，艋舺因而大為興盛，於是產生了「一府二鹿三艋舺」的說法。1853年，艋舺的泉州三邑頂郊郊商，燒毀安溪移民的信仰中心艋舺祖師廟，借道偷襲下郊的泉州府同安人，史稱「頂下郊拚」。同安人大敗，先奔往大龍峒，但不受當地同安移民接納，再轉到大稻埕，沿著淡水河建起毗鄰店屋，建造奉祀地方神霞海城隍的廟宇。同安人會聚集包含大稻埕一帶，與附近的大稻埕碼頭息息相關。19世紀中期，尚未淤積的台北淡水河，可航行來自閩南一帶的戎克船。這些大稻埕碼頭帶來的船利，除了方便移民人潮上岸外，更可帶動商業的運作。於是街道以南方碼頭為基準，逐漸向北擴展。因為南街多為沼澤溼地，而率先成為街道規模的是中街。1879年臺北府城正式開府並成為臺灣首府。當時以茶葉，稻米，樟腦，中藥，甚至鴉片等買賣為主的「中街」與「中北街」的尚未貫通兩街道，已是臺北的遍布洋行、店舖、商家的重要聚落，與艋舺不相上下。1891年巡撫劉銘傳首建經過大稻埕的全臺第一條鐵路，則正式確定迪化街的臺北商業樞紐地位。</div>
			</div>
		 </div>
		 </div>
		 <div class="modal fade" id="De02" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築特色</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/07-02.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left">迪化街街道狹窄，南北走向。為容納更多門面，除少數店家外，均屬於長條形的連棟式店舖。幾乎都是東西坐向長縱深的店舖，在房屋外觀上，約可分為四種形式。閩南式建築：以單層樓為主，瓦片覆蓋的斜屋頂及木板組成的門窗等，是其特色。此種建築為最古老的漳泉建築，年份甚至可遠溯19世紀中，主要分布地點於原中北街（北街）。其中以王瑞興行的亭仔腳、半樓、屋頂、檻窗和平板住屋設備最具特色。洋樓式樣：以二層樓房為主，門面有女兒牆、拱形窗洞、花瓶狀欄杆，該洋樓形式模仿1870年代，洋行雲集的淡水。主要分布地點也是迪化街北段，如益良化工公司。仿巴洛克建築：以立體的外觀浮雕及花草紋飾著稱。街上最壯觀的此類型建築以台灣農產公司為代表作。該公司正面山牆加高，旁柱延續至山牆頭，柱頭做雕花圓球與類似西方愛奧尼柱式的收頭。邊柱頭亦做雕花圓球，邊柱旁加做一小柱頭，類似間柱手法，以捲型雕塑收頭。牌樓面窗頂做類似攢尖屋頂造型，面材使用磁磚。建築物整體強調垂直感，造型極為華麗特殊。此建築以原日治時期發市的中街較多。現代主義式：外觀簡潔明朗，注重線條的表現與比例的均衡。為西方建築潮流，街上各段都有分布，是四種風格數量最多的一種建築風格。</p>
			</div>
		 </div>
		 </div>
		 </div>
		 <div class="modal fade" id="De03" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">現今風華</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/07-03-01.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/07-03-02.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<hr>
			<img src="templates/stroke/07-03-03.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/07-03-04.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<hr>
			<p class="text-left">人們口中的迪化街，就是指台北大橋以南方向的迪化街一段，昔日的迪化街是指大稻埕的中心地，以前海運來的貨品都要經過大稻埕碼頭，再從迪化街運到其他地點，所以迪化街曾經是繁華的貨品集散地，也是北部的商品交易中心，在政府的規劃下，迪化街已成為年貨大街，過年時總是湧入大量的人潮購買年貨，光是在此試吃就快要吃到飽了。其中含有茶瓷，絲綢，中藥的販賣店面，聽起來相當有傳統的風味。但其實迪化街除了紅磁磚，紅燈籠的擺設之外，還有一座巴洛克式的大樓，永樂市場裡有許多布商在經營，還有專門為顧客縫製衣物與窗簾的店家，市場前也有許多美食小吃攤販。</p>
			</div>
		 </div>
		 </div>
		 </div>
		 <div class="modal fade" id="De04" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">春節期間</h3>
              <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/07-04-03.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/07-04-02.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<hr>
			<img src="templates/stroke/07-04-04.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<img src="templates/stroke/07-04-01.jpg" style="max-width:100%; height:auto;" width="225" height="140" class="img-responsive center-block" >
			<hr>
			<p class="text-left">在政府的規劃下，迪化街現今已成為年貨大街之一，過年時總是湧入大量的人潮購買年貨，光是在此試吃就快要吃到飽了。</p>
			</div>
		 </div>
		 </div>
		 </div>
		<hr>
		<div class="row">
          <div class="col-md-9 aniass ">
            <h5>霞海城隍廟<small>預計到達時間（pm 02:30）</small></h5>
			<p class="lead">台北霞海城隍廟位於台北市迪化街一段61號，是內政部核定的三級古蹟，與慈聖宮，法主公廟合稱大稻埕的三大廟宇。霞海城隍廟原為福建泉州府同安縣下店鄉海邊厝五鄉庄居民的守護神，清朝康熙元年，御賜臨海門匾額。而因下店鄉又名霞城，而祖廟又設於霞城的臨海門旁，所以渡海來台以後便稱為台北霞海城隍。台北霞海城隍廟雖然名聞全台，卻一直守著四六坪的廟地並未擴建，最初固然受地方財力所限導致，雖然後來大稻埕一帶的商賈曾一度執台灣經濟牛耳，但仍然未予擴建，只因為其地為雞母穴，有如母雞保護小雞般，百年來大稻埕的士農工商都承蒙霞海城隍爺的保佑，致生意興隆、財源廣進，事事平安順利，可說是廟愈小則愈發。</p>
			<p>[終站]漫步在迪化街內沉浸在古時建築的風味下,細細品嘗直至黃昏</p>
			<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Chn01">建築歷史</button>
		  </div>
          <div class="col-md-3 pt-5 aniass">
            <img src="templates/stroke/08.jpg" class="img-responsive" width="300" height="200">
          </div>
        </div>
		<div class="modal fade" id="Chn01" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
			  <h3 class="modal-title">建築歷史</h3>
			  <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
			<img src="templates/stroke/08-01.jpg" style="max-width:100%; height:auto;" width="450" height="280" class="img-responsive center-block" >
			<hr>
			<p class="text-left"> 城隍信仰起源於都城守護神，在中國漢民族社會中具有相當悠久的歷史，清代列入祀典，城隍廟與文廟、武廟、天后廟成為國家各級政府每年固定舉行例祭的對象。如清康熙三十五年（1696）高拱乾《臺灣府志》〈典秩志〉載：「城隍既祭於壇，而復崇之廟者，祀以人道也。凡新官入境，必致肅齋宿而後履任；祈禱水旱，必先牒告以及民間雞豚操祝，神尤效靈焉。」省府縣各級官吏在新官上任時必先往城隍廟履新報到，遇有水災、旱災等祈禱於城隍，而有官司無法解決者也祈求城隍之庇佑希望能迎刃而解，城隍早已由古代的都城守護神一躍成為具有司法職能之神祇。霞海城隍信仰在道光年間，隨著福建泉州府同安人渡台，原奉祀於艋舺八甲庄同安人聚落。後因咸豐三年（1853）的頂下郊拚械鬥事件，艋舺同安人遂奉城隍遷移至大稻埕地區發展，初時安奉於陳金絨子陳浩然所經營的糕餅舖中；至咸豐六年（1856）由海內會陳姓族人和地方善信共同發起建廟，並於三年後落成。近一百五十年來，霞海城隍廟即成為大稻埕地區的信仰中心，也見證了大稻埕地區的發展。</p>
			</div>
		 </div>
		 </div>
		 </div>
		<hr>
		<div class="row">
          <div class="col-md-12  aniass">
		  <h1>古蹟巡禮到此結束</h1>
            <img src="templates/stroke/09-01.jpg" style="max-width:100%; height:auto;" class="img-responsive center-block">
		  </div>
        </div>
		<hr>
	  </div>
	</section>